* {
    animation: fade 0.5s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #3d688a;
}

/* Navigation bar content */
.navbar {
    background: #242424d5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 100px;
}

#navbar_logo {
    background-color: #343232;
    background-image: linear-gradient(to top, #ec681b 0%, #f5b512 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;

    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #e5e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color:#ec681b;
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f5b512;
    color: #000
}

.button:hover {
    background: #ec681b;
    transition: all 0.3s ease;
}

/* CSS for top of the page */

.forefront {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgb(0, 0, 0)), 
        url(../assets/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 75%;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 45vh;
        z-index: 1;
        width: 100%;
        max-width: 2600px;
        padding: 50px;
}

.forefront_none {
    background: rgb(255, 255, 255);
}

.forefront_content {
    margin: 50px 0;
    text-align: center;
}

.forefront_content h1 {
    color: #ec681b;
}

.forefront_content h2 {
    color: #d7cece;
}

.footer_container {
    background-color: #353131;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS for main gallery */

.main {
    background-image: linear-gradient(
        rgba(115, 55, 0, 0.5), 
        rgb(0, 0, 0));
}

.image_container {
    display: flex;
    padding: 100px 100px;
}

.image_child {
    height: 500px;
    flex: 2;
    border: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
}

.image_child img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.gallery_button {
    opacity: 25%;
    flex: 1;

    border: none;
}

.gallery_button:hover {
    animation: move 0.5s ease forwards;
}

@keyframes move {
    0% {transform: scale(1);}
    100% {transform: scale(1.25);}
}

/* CSS for the footer */

#footer_logo {
    color: #e1dbdb;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link-wrapper {
    display: flex;
}

.footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #e1dbdb;
}

.footer_link-items a {
    color: #b8afaf;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #ffffff;
}

.social_media_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    height: auto;
    filter: invert(98%) sepia(1%) saturate(1800%) hue-rotate(315deg) brightness(93%) contrast(89%);
}

.social_icon-link {
    color: #e1dbdb;
    width: 100%;
    text-decoration: none;
}

.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media-wrap {
    color: #e1dbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
