body {
    background-image: url(assets/background.jpg);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding : 0;
    overflow: hidden;
    background-color: rgb(14, 13, 13);
}

.navitem {
    float: left;
    width: 8%;
    padding: 5px;
}

.navlogo {
    float: left;
    width: 25%;
}

.navlogoimage {
    max-width: 50px;
    max-height: auto;
    display: inline-block;
    padding: 2% 25%;
    background-color: rgb(22, 21, 21);
}

.navtext {
    display: inline-block;
    color: rgb(241, 235, 235);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    /*
    background-color: rgb(48, 47, 47);
    */
}

.firstgallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.firstimage {
    width: 60%;
}

.navtext:hover {
    border-bottom: 4px solid rgb(42, 158, 240);
}

.first-panel {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0px 200px;
}

.content-block {
    text-align: left;
    padding: 24px;
    color: rgb(230, 224, 224);
    background-color: rgb(14, 13, 13);
    border: 2px solid rgb(77, 125, 228);
}

.image-main {
    flex: 2
}

.text-anchorage {
    flex: 1
}

#panel-image {
    width: 100%;
    height: auto;
}

#readmore-button {
    border: none;
    background-color: rgb(36, 50, 62);
    color: rgb(218, 214, 230);
    padding: 15px 32px;
    text-align: center;
    display:inline-block;
    margin: 4px 2px;
    text-decoration: none;
}

#readmore-button:hover {
    background-color: rgb(67, 161, 237);
    color: rgb(42, 41, 44);
    cursor:grab;
}