body {
    background: black;
}

.table a {
        display: block;
    }

    table {
        display: flex;
        width: 537px;
        border-spacing: 0px;
        padding: 0;
    }

    th, td {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    img {
        margin: 0px;
        padding: 0px;
    }

    .television_set {
        display: flex;
        margin: 20px 20px;
    }

    .tv_image {
        z-index: -1;
        position:absolute;
        background-image: url(assets/static.gif);
        width: 400px;
        height: 300px;
        left: 34%;
        top: 30%;
        animation: flicker 5s ease-in-out infinite;
    }

    .home {
        background-image: url(assets/previews/home.png);
    }

    .about {
        background-image: url(assets/previews/about.png);
    }


    .art {
        background-image: url(assets/previews/fun.png);
    }

    @keyframes flicker {
        0% {opacity: 75%;}
        100% {opacity: 100%}
    }

    .television {
        z-index: 1;
        position:absolute;
        left: 32%;
        top: 25%;
    }


    #top-left {
        background-image: url("assets/tv/top-left.png");
    }
    #top-right {
        background-image: url("assets/tv/top-right.png");
    }
    #bottom-left {
        background-image: url("assets/tv/bottom-left.png");
    }
    #bottom-right {
        background-image: url("assets/tv/bottom-right.png");
    }

    #top-right:hover {
        background-image: url("assets/tv/top-right-select.png");
    }

    #bottom-right:hover {
        background-image: url("assets/tv/bottom-right-select.png");
    }

    #top_button {
        color:rgb(244, 241, 241);
        font-size: 2rem;
        position:relative;
        top:80px;
        left:60px;
        text-decoration: none;
    }

    #top_button:hover {
        color:orange;
    }
    
    #bottom_button {
        color:rgb(244, 241, 241);
        font-size: 2rem;
        position:relative;
        bottom: 35px;
        left:60px;
        text-decoration: none;
    
    
    }

    #bottom_button:hover {
        color:orange;
    }