body {
    background-image: url("../assets/corrupted/1HykhZFNQj.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

/* CSS for the boxed containers across the page */

.container {
    position: absolute;
    color: #e3dede;
    background-color: #000000;
    width: 200px;
    height: 100px;
    border: 1px solid #e3dede;
    z-index: 999;
}

.boxed {
    padding: 12% 1%;
    font-size: 20px;
    text-align: center;
}

.hyperfake {
    color: purple;
    text-decoration: underline;
}

.failsafe {
    top: 25px;
    left: 500px;
    transform: skew(-2deg,20deg);
}

.website {
    bottom: 250px;
    left: 250px;
    transform: skew(20deg,-30deg);
}

.freelance {
    bottom: 20px;
    left: 400px;
}

.bottom {
    position: relative;
    top: 1500px;
}

/* CSS for the grid of square buttons */

.doomed {

    position:absolute;
    left: 200px;

    height: 2400px;
    width: 40px;
    font-size: 25px;
    color: white;
}

button {
    margin: 45px;
    padding: 25px 25px;
    z-index: 0;
    opacity: 25%;
}

button:hover {
    margin: 100px;
    opacity: 75%;
}

#calling {
    font-size: 50px;
    color:white;
}

#calling:hover {
    font-size: 55px;
    color:yellow;
}