* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

/* Navigation bar CSS */

.navbar_container {
    display: flex;
    margin: 20px 20px;
    padding: 0;
}

.navbar_container li {
    margin-right: 20px;
    list-style: none;
}

.nav_logo {
    font-size: 2rem;
}

.nav_contents {
    margin-top: 10px;
}

.nav_contents:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 32px;
}

/* Gallery CSS */

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

/* Different sizes */

.small {
    width:100px;
}

.medium {
    width:500px;
}

.large {
    width:700px;
}

.long {
    height: 500px;
    width:200px;
}

/* CSS for the bottom of the page */

.index p {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.2rem;
}